$white: #fff;
$textColor: #555248;
$accent: #E6C8B4;
$titleColor: #1B1A17;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: $textColor;
}

.container {
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin flex {
    display: flex;
}

@mixin flex-align-center {
    display: flex;
    align-items: center;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
}

@mixin flex-separate {
    display: flex;
    justify-content: space-between;
}

@mixin flex-vertical-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flex-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}