.quality {
    position: relative;
    background-color: #FDFDFB;
    padding: 52px 0 53px;

    .container {
        position: relative;
        @include flex;
    }

    &__back-rect {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 33%;
        background-color: #F7F5EF;
    }

    &__text {
        @include flex-vertical;
        padding-left: 70px;
    }

    &__title {
        margin: 0;
        margin-bottom: 38px;
        font-family: 'Playfair Display';
        font-size: 32px;
        line-height: 43px;
        color: $titleColor;
    }

    &__descr {
        max-width: 400px;
        margin: 0;
        margin-bottom: 45px;
        font-size: 16px;
        line-height: 150%;
        color: #444240;
    }

    &__btn {
        max-width: 205px;
        background: #D4B098;
        color: $white;
        border: none;
        padding: 26px 38px 27px;

        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.05em;

        &:hover {
            cursor: pointer;
        }
    }

    &__back1 {
        position: absolute;
        background-image: url(../img/circle1.svg);
        width: 200px;
        height: 220px;
        top: 0;
        right: 0;
    }

    &__back2 {
        position: absolute;
        background-image: url(../img/circle2.svg);
        width: 210px;
        height: 90%;
        bottom: 0;
        right: 0;
    }
}

.slider {
    position: relative;
    flex: 50% 0 0;
    padding-left: 80px;

    &__nav {
        position: absolute;
        @include flex-align-center;
        bottom: -35px;
        right: 60px;
    }

    &__img_n {
        font-family: 'Prata';
        font-size: 12px;
        line-height: 16px;
        color: rgba(27, 26, 23, 0.82);
    }

    &__arrow-left {
        width: 5px;
        height: 10px;
        margin-bottom: 2px;
        margin-right: 20px;
        background-image: url(../img/arrow_left.svg);
    }

    &__arrow-right {
        width: 6px;
        height: 10px;
        margin-bottom: 2px;
        margin-left: 20px;
        background-image: url(../img/arrow_right.svg);
    }
}